<div id="student_profile">
	<p id="notice"><%= notice %></p>

	<p>
	  <%= image_tag(@student.image_url, class: 'profile_image') %>
	</p>
	<p>
	  <b>Name:</b>
	  <%= @student.name %>
	</p>

	<p>
	  <b>Id num:</b>
	  <%= @student.id_num %>
	</p>

	<p>
	  <b>Weight:</b>
	  <%= @student.weight %>
	</p>




	<%= link_to 'Edit', edit_student_path(@student) %> |
	<%= link_to 'Back', students_path %>
</div>